@import url(./fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(variables.css);
@import url(global.css);

/*@import url(/css/variables.css);*/

.header_area .main-menu .navbar .navbar-brand{
    padding:0 2rem 0 0rem;
}
.header_area .main-menu .navbar{
    padding:1rem 0rem;
}
.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--sans);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--primary-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    color: var(--gradient-color);
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;*/
}
.site-main {
    padding-bottom: 10%;
}
.site-main .site-banner {
    background: url() no-repeat;
    background-position: 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 15%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    height: 2px;
    width: 18vw;
    background:black;
    display: inline-block;
    
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size:5rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}
.card {
    margin: 10px 10px;
}
.card-block {
    margin:15px;
}
  
  /* Flip Cards CSS */
  .card-container {
    display: grid;
    perspective: 700px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }
  .section{
      padding-left: 6rem;
  }

